language: node_js
node_js:
- 6
script:
- npm run lint
- npm test
- npm run build
install:
- npm i -g npm@latest
- npm install
- cd client
- npm install
- cd ..
- npm install jest-cli
services:
- mongodb
env:
- MONGODBURI=localhost:27017/smsup SUPPORTED_LOCALES=en,fa ACTIVE_GATEWAY=nexmo
notifications:
  email:
    on_failure: change
cache:
  directories:
  - node_modules
  - client/node_modules
deploy:
  provider: heroku
  skip_cleanup: true
  api_key:
    secure: a7qNWUPaRqkqzfMwbMzl5Km8mHX/xi9xlznd3cYrlIraqg3/gPydmvcmPgnhIzX8LeC4xCdn7sWfaPYiE8EDw0VfMC1rWH4O8USTgMvnerzvgW49ydJayqv8y+cHWyji1IiY0qLBxHi3gvbWR33HK/OiH7+Q2PZhSVrcZC+aCZCEwh/bGt/7SVd2WrP28Z9hW6Sg7sfbzbPIwWqHWqFeh9LSqTf68ezGqZHrSaMGn+Xi+1GcDuAs/jDIGr43XsEBUkJnGnsE6EGBLYfEkQjXDypX+tCStsAzu3MWm8LG81gxy36ar2C7J3lu6fO9i2Z4v8xuUkpZfiIkmeFXYq6ER6PZbMesMoqkQdlIEo8LuR2SLGFXQyODSXYhmva4Axs4K5oldrlM6LZHmWEJe8S4Xkb+xQ2bDWfeIJ42lC8aDgRDCOTd1hPMcKlCl3w0QxNOm5yyjup/1DRHkTwO1gdkS6NTHZYN73PdPvSHbTeiSYj4Iv7hB7qTDP2tkxGwFBv3/+LfOqY6iF9knSMLJ7fVF3dMg2tOohtEGYV93ag4R6jmaxLJg1owY0RD+OC5Y6D7fN4QNEUh2rDPj1nph5aSNgZtxBBmfnvXUZMHsLqUdZzJoKh8jC5pSuj3jN5l739YRecwDv/3uNS8Rbn+7i174lglko5LSh/7DQVgoKaPY0A=
  app: smsup-dev
  on:
    repo: duncanfwalker/smsup
